<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
    default-lazy-init="false">

    <!-- 扫描注解 -->
    <context:component-scan base-package="com.ljw.spring.source.s1" />

    <!-- 加载系统的配置文件的配置参数 -->
    <context:property-placeholder location="classpath:property.properties,classpath:application.properties" />


<!--    <import resource="spring.xml"/>-->
    <bean id="student" class="com.ljw.spring.source.s1.beans.Student"/>

    <bean id="factoryMethodBean" class="com.ljw.spring.source.s1.factorymethod.FactoryMethodBean" ></bean>
    <bean id="factoryMethodLjw" factory-bean="factoryMethodBean" factory-method="getFactoryMethodLjwBean"></bean>

    <!-- factory-method这种形式，要求必须存在class或者factory-bean的配置 -->
    <bean id="factoryMethodLjw2" class="com.ljw.spring.source.s1.factorymethod.vo.FactoryMethodLjw2" factory-method="getFactoryMethodLjwBean"></bean>

    <bean id="propertiesBean" class="com.ljw.spring.source.s1.beans.PropertiesBean" >
        <property name="name" value="${properties.name}"></property>
        <property name="password" value="${properties.password}"></property>
    </bean>

</beans>