<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
    default-lazy-init="false">


    <context:component-scan base-package="com.ljw.spring.source.s1">

    </context:component-scan>

<!--    <import resource="spring.xml"/>-->
    <bean id="student" class="com.ljw.spring.source.s1.beans.Student"/>

    <bean id="factoryMethodBean" class="com.ljw.spring.source.s1.factorymethod.FactoryMethodBean" ></bean>
    <bean id="factoryMethodLjw" factory-bean="factoryMethodBean" factory-method="getFactoryMethodLjwBean"></bean>

    <!-- factory-method这种形式，要求必须存在class或者factory-bean的配置 -->
    <bean id="factoryMethodLjw2" class="com.ljw.spring.source.s1.factorymethod.vo.FactoryMethodLjw2" factory-method="getFactoryMethodLjwBean"></bean>


</beans>